extends layout
block main
  form(id="start-form" action="/dashboard/update", method="post")
    fieldset(id="start-set" class="fade-in")
      dl(id="title-start")
        dt 
          label(for="projectTitle")
        dd 
          input(type="text" name="projectTitle" id="project-title" placeholder="Project title . . ." value=boardData.title)
      input(type="submit" value="Update title" class="start-btn")
  a(href="/dashboard")
    button(class="cancel-btn") X