extends layout
block main
  h1(id="project-title")=testBoard.title
  button(class="pg-btn" id="new-ticket") + Create ticket
  button(id="clear-btn") Clear board
  table(class="fade-in")
    thead
      tr#board-header
        th(colspan=6) My Dashboard
      tr#maincolumn-header
        th(class="column") To-do
        th(class="column") In-progress
        th(class="column") Review
        th(class="column") Testing
        th(class="column") Monitoring
        th(class="column") Done
    tbody
      each column in testBoard.columns
        if column.tickets.length > 0
          td
            ul
              each ticket in column.tickets
                li(class="ticket")
                  a(href="/")=ticket.title
                  button(class="move left") L
                  button(class="move right") R
