extends layout
block main
  body 
    h1(id="project-title") Project title goes here
    table 
      thead
        tr
          th(colspan=6) Main header
        tr 
          th(class="column") To-do
          th(class="column") In-progress
          th(class="column") Review
          th(class="column") Testing
          th(class="column") Monitoring
          th(class="column") Done