extends layout
block main
  h1(id="project-title") Project title goes here
  table 
    thead
      tr#board-header
        th(colspan=6) Main header
      tr#maincolumn-header
        th(class="column") To-do
        th(class="column") In-progress
        th(class="column") Review
        th(class="column") Testing
        th(class="column") Monitoring
        th(class="column") Done