doctype html 
html(lang="en-US")
  head
    title Project Tracker
    meta(charset="utf-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="stylesheets/application.css")
  body 
    header
      h1 Logo goes here
      //- block logo
    main
      block main
