doctype html 
html(lang="en-US")
  head
    title Project Tracker
    meta(charset="utf-8")
    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans")
    link(rel="stylesheet" href="/stylesheets/whitespace-reset.css")
    link(rel="stylesheet" href="/stylesheets/application.css")
  body 
    header
      a(href="/")
        img(id="logo" src="/images/logo.png", alt="Company logo")
      //- block logo
    main
      block main
