extends layout
block main
  main(class="error-page")
    img(src="https://cdn2.iconfinder.com/data/icons/user-solid-style/32/confused_puzzled_user-512.png", alt="not-found")
    div.not-found
      h1.error-id 404
      h3.error-page-message The resource you were looking for was not found!