body {
  background-color: #f9f9f9;
  margin: 10px 20px;
}

main {
  margin: 20px 40px;
}

main h1 {
  font-size: 30px;
}

table {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid black;
}

#maincolumn-header {
  border-bottom: 2px solid black;
}